@import '../../styles/variable.scss';
.recommendedCard {
	display: flex;
	padding-top: 1rem;
	.poster {
		width: 40%;
		> img {
			width: 100%;
			height: 160px;
			object-fit: cover;
		}
	}
	.content {
		width: 60%;
		padding-top: 15px;
		padding-left: 15px;
		.title {
			font-weight: bold;
			font-size: 16px;
			margin-top: 0;
			margin-bottom: 5px;
			a {
				color: black;
			}
		}
		.duration {
			color: $color-primary-4;
		}
		.category {
			margin-top: 5px;
			a {
				font-size: 15px;
				color: #999;
			}
		}
		.rating {
			margin-top: 15px;
			position: relative;
			.star {
				background-color: transparent;
				background-image: url('../../assets/images/star.png');
				background-position: left top;
				background-repeat: repeat-x;
				height: 18px;
				list-style: outside none none;
				margin: 15px 15px 0 0;
				overflow: hidden;
				padding: 0;
				position: relative;
				width: 90px;
				float: left;
			}
			.rate {
				background-color: $color-primary-4;
				border-radius: 50%;
				color: #fff;
				font-size: 15px;
				font-weight: bold;
				height: 45px;
				right: 20px;
				line-height: 45px;
				position: absolute;
				text-align: center;
				text-transform: uppercase;
				top: -10px;
				width: 45px;
			}
		}
	}
}
