.u-page {
	padding: 3rem 1rem;
	@include mq('tablet') {
		padding: 3rem 2rem;
	}
	@include mq('lap') {
		padding: 3rem 3rem;
	}
}

.u-title {
	font-weight: 600;
	&.required {
		&::before {
			content: '*';
			color: red;
			margin-right: 2px;
		}
	}
	&::after {
		content: ':';
	}
}

.u-icon {
	font-size: 1.8rem;
	cursor: pointer;
	transition: all 0.2s;
	&:hover {
		color: $color-primary-1;
	}
}

.u-icon-left {
	margin-right: 0.5rem;
}

.u-icon-right {
	margin-left: 0.5rem;
}

.u-form-common {
	margin-top: 2rem;
	.u-content {
		.ant-form-item-explain {
			text-align: left;
		}
		.ant-form-item {
			* {
				font-size: $font-size-paragraph1;
			}
			input[type='color'] {
				width: 10rem;
			}
			input:read-only {
				&:not(#dynamic_rule_dateOfBirth) {
					background-color: rgb(214, 214, 214) !important;
					color: $color-black;
				}
			}
			// height: 10rem;
			.ant-form-item-label {
				width: 100%;
				text-align: left;
				font-weight: 550;
				margin: 0.1rem 0;
				label {
					color: $color-black;
				}
			}
			.ant-form-item-control {
				input {
					border: 1px solid rgba(143, 155, 179, 0.2);
					border-radius: 0.06rem;
					transition: all 0.5s ease-in-out;
					padding: 1rem 1.2rem;
					outline: none;
					background-color: #f8f8f8;
					height: $height-input-common;
					&:hover {
						border-color: $color-primary-1;
					}
					&:focus,
					&:active,
					&:focus-within {
						border-color: $color-primary-1;
						box-shadow: 0 0 0 2px rgba($color-primary-1, 0.2);
					}
				}
				.ant-picker {
					display: flex;
					&:hover {
						border-color: $color-primary-1;
					}
					&:focus,
					&:active {
						border-color: $color-primary-1;
						box-shadow: 0 0 0 2px rgba($color-primary-1, 0.2);
					}
				}
				.ant-picker-focused {
					border-color: $color-primary-1;
					box-shadow: 0 0 0 2px rgba($color-primary-1, 0.2);
				}
				.ant-picker-input {
					input {
						border: none !important;
						outline: none !important;
						box-shadow: none !important;
						height: 3.5rem !important;
					}
				}
				.ant-input-affix-wrapper {
					height: $height-input-common;
					&:hover {
						border-color: $color-primary-1;
					}
					&:focus,
					&:active,
					&:focus-within {
						border-color: $color-primary-1;
						box-shadow: 0 0 0 2px rgba($color-primary-1, 0.2);
					}
					input {
						border: none !important;
						outline: none !important;
						box-shadow: none !important;
						height: 3.5rem !important;
					}
				}
				.ant-select-selector {
					height: $height-input-common !important;
					display: flex;
					align-items: center;
					&:hover {
						border-color: $color-primary-1;
					}
					&:focus,
					&:active,
					&:focus-within {
						border-color: $color-primary-1;
						box-shadow: 0 0 0 2px rgba($color-primary-1, 0.2);
					}
				}
			}
		}
	}

	.u-btn-group {
		text-align: center;
		margin: 4rem 0;
		button {
			margin: 1rem 1.5rem;
		}
		&.u-btn-group-hide {
			visibility: hidden;
			height: 0;
		}
	}
}

.u-button-tool-word-dashboard-item {
	background-color: $color-white;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
	transition: all 0.2s;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $color-primary-1;
	position: relative;
	font-size: 2.5rem;
	&:hover {
		box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
		transform: scale(1.1);
	}
	&::after {
		position: absolute;
		content: attr(value);
		width: 20px;
		height: 20px;
		background-color: #ffc100;
		border-radius: 50%;
		bottom: -2px;
		right: -6px;
		text-align: center;
		cursor: no-drop;
		color: $color-primary-1;
		opacity: 0.9;
		font-size: 14px;
		text-align: center;
	}
	&.disabled {
		cursor: not-allowed;
		background-color: rgba($color-white, 0.6);
	}
	&.no-number::after {
		display: none;
	}
}

.u-layout {
	min-height: 100vh;
	&.color {
		background: linear-gradient(
			124deg,
			$color-primary-2 0%,
			$color-primary-1 100%
		);
		background-repeat: no-repeat;
	}
}
